header {
	width: 100%;
	height: 100px;
    background: white;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
}

nav {
	width: 80%;
	margin: 0 auto;
}

.logo {
	font-family: 'Lobster', cursive;
	font-size: 4em;
	font-weight: 400;
	margin: 15px 0;
}

.container {
    display: flex;
    margin-top: 10px;
    justify-content: center;
}

.messages-container {
    background-image: url('https://raw.githubusercontent.com/idanwe/ionic-cli-meteor-whatsapp-tutorial/6bc38ead9ec5d18f38314f7ce6ff091ec903e2c1/www/img/chat-background.jpg');
    background-size: cover;
    border-radius: 2px;
    width: 45%;
    padding: 10px;
    margin: 0 10px;
}

.message-user{
    font-weight: 500;
}

.message-content {
    background: rgba(73,155,234,0.9);
    padding: 5px;
    color: white;
    border-radius: 20px;
}

.description {
    width: 50%;
    padding: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 10px 0px;
}